<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bleg Web Application</title>

</head>
<body>
    <%- include("header.ejs") %> 
    <div class="main">
        <% for(let i = 0; i < blogs.length; i++) { %>
            <div class="brief-blog" id="Id<%= i %>">
                <a href="/blogId<%= i %>">
                    <div class="blog-title components"><p ><%= blogs[i].title %></p></div>
                    <div class="date-time components"><p><%= blogs[i].date %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= blogs[i].time %></p></div>
                    <% let brifedblog =  blogs[i].blogText.substr(0,250)+' ...'%>
                    <div class="blog-content components"><p><%= brifedblog %></p></div>
                    <div class="author-name components"><p>By <%= blogs[i].author %></p></div>
                </a>
            </div>
        <% } %> 
        
        <div id="blogAdd">
            <a href="/newBlog">
                <div id="addButton">
                    <p id="plusSign">+</p>
                    <p id="add">Add Your Story</p>
                </div>
            </a>
        </div>
    </div>
    <%- include("footer.ejs") %> 

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modalMessage"></p>
        </div>
    </div>

    <script>
        function getQueryParam(param) {
            const params = new URLSearchParams(window.location.search);
            return params.get(param);
        }

        function showModal(message) {
            const modal = document.getElementById("myModal");
            const modalMessage = document.getElementById("modalMessage");
            const closeBtn = document.getElementsByClassName("close")[0];

            modalMessage.textContent = message;
            modal.style.display = "block";

            closeBtn.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            const added = getQueryParam('added') === 'true'
            const notAdded = getQueryParam('added') === 'false'; 
            if(notAdded) showModal("Blog content was empty.")
            else if(added) showModal("Your blog is added.")
        });
    </script>
</body>

</html>